body{
    border-top: 100px solid #159288;
    border-right: 100px solid #159288 ;
    border-left:100px solid #159288;
    border-bottom: 100px solid #159288;
    text-align: center;
    padding: 30px;
    background-color: rgb(99, 209, 212);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}
.myphoto{
    float: right;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.about{
    font-size: 25px;
    width: 70%;
    text-align: left;
}
.imag{
    float: left;
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}
.interest{
    font-size:25px;
    width:80%;
    text-align: right;
}
a{
    font-size: 30px;
    padding: 0px 50px;
}
.tag{
    font-size: 20px;
    color: black;
    background-color:  #159288;
}