*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 20%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 30%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
}
.nav-list{
width: 50%;

display: flex;
justify-content: center;
align-items: center;
}
.nav-list li{
list-style: none;
padding: 26px 30px;

}
.nav-list li a{
text-decoration: none;
color: white;
}
.nav-list li a:hover{
    color: grey;
}
.rightNav{
   
    width: 50%;
    text-align: right;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family:sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstHalf{
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
}
.secondHalf{
width: 30%;
}
.secondHalf img{
    width: 70%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.text-big{
font-size: 45px;
text-align: left;
}
.text-small{
font-size: 18px;
text-align: left;
}
.secondSection{
    height: 100vh;
}
.thirdSection{
    height: 100vh;
}
.thirdHalf img{
    width: 60%;
    border: 4px solid white;
    display:flex;
    flex-direction:row;
    margin:auto;
}
.fourthSection{
    height: 100vh;

}
.social-icon{
    text-decoration: none;
    margin: 0 10px;
}
