*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
}
nav{
 position: sticky;
 top: 0;
 z-index: 10000000000000;
 display: flex;
 justify-content: space-between;
 padding: 20px 70px;
 background-color: grey;
}
.items{
    display: flex;
    
}
.head{
    display: flex;
    height: 50px;
}
.title{
    color: white; 
display: flex;
align-items: center;
padding: 0 10px;
}
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
 
}
.nav-items{
    padding: 0 20px ;
    display: flex;
    align-items: center;

}
.nav-items a {
color: white;    
}
header {
    
    background-color: #dfd5d5;
    padding: 20px;
    text-align: center;
}
h1 {

    font-size: 36px;
    color: #162d44;
    
}
.Section {
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    justify-content: center;
    align-items: center;
}
.flex_wrap {
width: 270px;
margin: 20px; 

}
.aboutme_body{
    padding: 50px 0;
    display: flex;

}
.flex_wrap_aboutme{
    height: 80vh;
    
    display: flex;
    flex-direction: column;
    
}
.aboutme_body img{
    height: 380px;
    width: 380px;
   border-radius: 40px;
    padding: 20px 30px;
}
.aboutme_body p{
    display: flex;
    align-items: center;
    font-family: cursive;
}
img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.hobbies{
    display: flex;
    height: 80vh;
    padding: 50px 150px;
    
    justify-content: space-between;
}
.hobbies .flex_wrap{
max-width: 300px;
min-width: 150px;
}
.flex_wrap img{
    height: 200px;
    width: 100%;
}
.flex_wrap p {
  text-align: center;
  padding: 10px;
  font-size: 21px;
}
.flex_wrap_follow img{
  width: 100%;
  height: 200px;
}
.flex_wrap_follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 93vw;
   
    margin: 100px 50px;
}
img{
    transition: 0.3s;
}
@media  screen and (max-width:800px) and (min-width:200px) {
    
    header{
        width: 100%;

    }
    
    .aboutme_body{
      
        flex-direction: column;
        width: 650px;

        justify-content: center;
        align-items: center;

    }
    .aboutme_body p{
        text-align: center;
        padding: 20px 0;
        width: 500px;
    }
    .aboutme_body img{

        border-radius: 50%;
    }
    .hobbies{
        flex-direction: column;
        height: auto;
        margin-top: 200px;
        justify-content: center;
        align-items: center;
    }
    .hobbies .flex_wrap{
        width: 350px;
        padding: 40px 0;
    }
.flex_wrap_follow{
 margin: auto;
 padding: 100px 0;
 display: flex;
 flex-direction: column;
 justify-content: center;

}
}