body{
    background-image: url(w2.jpg);
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: #000000;
    text-align: center;
}


.about{
    width: 80%;
    padding: 60px 0px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(19deg, #615e5ef8 45%, #fffefeec 170%);
    filter: opacity(95%);
    border-radius: 0%;
}

.gallery{
    display: flex;
    width: 80%;
    padding: 50px 0px;
    margin-left: 2.5%;
    background-image: linear-gradient(19deg, #615e5ef8 55%, #fffefeec 170%);
    margin: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 30vh;
    filter: opacity(100%);
    border-radius: 0%;

}


.photos{
    margin-top: -1%;
}
.pic3:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 1s ease;
}

.w4:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 1s ease;
}
.bleach:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 1s ease;
}

.photos h1{
    color: rgba(250, 246, 250, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    
}

.photos img{
    width: 290px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 0%;
    
}

.about img{
    margin-top: 1px;
    height: auto;
    width: 340px;
    fill-opacity: 50%;
    border-radius: 0%;

}

.about-text{
    width: 600px;

}

.about-text h1{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;

}

.gallery h1{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 5%;
}

.about-text p{
    color: rgb(240, 245, 245);
    letter-spacing: 1px;
    line-height: 28px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main1{
    display: none;
    width: 1130px;
    max-width: 95%;
    margin-top: -4%;
    align-items: center;
    justify-content: space-around;
}

.Hobbies{
    width: 1130px;
    max-width: 95%;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#hobbies1{
    display: none;
    width: 1130px;
    max-width: 95%;
    margin: 16px;
    align-items: center;
    justify-content: space-around;
}

.Fire{
    margin-top: 25px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.contact h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(0, 127, 110);
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 5%;
}

#insta{
    /* position: absolute; */
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;

}

#fb{
    /* position: absolute; */
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;

}

#email{
    /* position: absolute; */
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;

}

#twitter{
    /* position: absolute; */
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    font-size: 18px;
    background: #4070f4;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
}

/* .row{
    display: flex;
    flex-wrap: wrap;
} */

.footer{
    /* background-color: #24262b; */
    background-image: linear-gradient(19deg, #615e5ef8 200%, #fffefeec 170%); 
    padding: 0px;
    font-family: "Poppins", sans-serif;
    align-content: center;
    margin-bottom: 0px;
    /* height: 30vh;     */
}

.container{
    margin: auto;
    width: 80%;
}
.footer-col{
    width: 25%;
    padding: 0 10px;
    align-self: center;
    display: flex;
    width: 80%;
    /* padding: 50px 0px; */
    margin-left: 2.5%;
    margin: auto;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

.footer h2::before{
    /* content: " "; */
    /* position: absolute; */
    /* left: 0; */
    bottom: -10px;
    /* background-color: #e91e63; */
    height: 15px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(225, 225, 225, 0.2);
    /* margin: 0 10px 0; */
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

#tt{
    margin-left: 20px;
    margin-right: 20px;
}

#ins{
    margin-right: 20px;
}

#cm{
    padding-left: 50px;
    width: 150px;
}



@media screen and (max-width: 1280px) {
    #pic3{width: 320px;}
    #w4{width: 320px;}
    #bleach{width: 252px;}
    .photos img{margin: 0%;}
}

@media screen and (max-width: 1189px) {
    #pic3{width: 320px;}
    #w4{width: 320px;}
    #bleach{width: 252px;}
    .photos img{margin: 0%;}
}

@media screen and (min-width: 1100px) {
    #pic3{width: 280px;}
    #w4{width: 280px;}
    #bleach{width: 252;}
    .photos img{margin: 0%;}
}

@media screen and (max-width: 1100px) {
    .photos img{
        /* display: flex;
        flex-direction: row; */
        margin: 0%;
    }
    #pic3{width: 280px;}
    #w4{width: 280px;}
    #bleach{width: 250px;}
    #about-text1{padding-left: 10px; }
    #about-text2{padding-right: 10px;}

}

@media screen and (max-width: 1092px) {
    #pic3{width: 265px;}
    #w4{width: 265px;}
    #bleach{width: 241px;}
    .photos img{margin: 0%;}
}

@media screen and (max-width: 1038px) {
    #pic3{width: 260px;}
    #w4{width: 260px;}
    #bleach{width: 236px;}
    .photos img{margin: 0%;}
}

@media screen and (max-width: 970px) {
    #pic3{width: 250px;}
    #w4{width: 250px;}
    #bleach{width: 248px;}
    .photos img{
        margin: 10%;
        display: flex;
        flex-direction: column;
    }
    #gallery{
        height: 80vh;
        }
}

@media screen and (max-width: 850px) {
    #gallery{
        height: 100vh;
        }
}

@media screen and (max-width: 750px) {
    #main{display: none;}
    #main1{display: block;}
    .about-text{width: 400px;}
    #hobbies1{display: block;}
    #hobbies{display: none;}
    #cm{width: 200px;}
    #gallery{height: 100vh;}

}

@media screen and (max-width: 650px) {
    #mypic{width: 220px;}
    #pic3{width: 220px;}
    #w4{width: 220px;}
    #bleach{width: 218px;}
    #cm{width: 200px;}
    #gallery{height: 110vh;}
}

@media screen and (max-width: 525px){
    #tt{margin: 0px;}
    #ins{margin: 0px;}
}

@media screen and (max-width: 510px) {
    #mypic{width: 200px;}
    #pic3{width: 200px;}
    #w4{width: 200px;}
    #bleach{width: 200px;}
    .about-text{width: 300px;}
    #bgimg3{width: 300px;}
    /* .links{display: flex;
        flex-direction: row;}  */
    #cm{width: 200px;}
    .footer{width: 430px;}
    
}

@media screen and (max-width: 425px){
    #mypic{width: 200px;}
    #pic3{width: 230px;}
    #w4{width: 230px;}
    #bleach{width: 228px;}
    #bgimg3{width: 270px;}
    .about-text{width: 250px;}
    /* .links{display: block} */
    /* .social-links{display: flex;
        flex-direction: column; */
    /* } */
    .gallery{height: 80vh;}
    }

    .footer-col{
        height: 22vh;
    }
    #cm{width: 200px;}
    
@media scree and (max-width: 422px){
    #tt{margin-left: 0px;}
    #cm{width: 200px;}
}


@media screen and (max-width: 410px){
    #bgimg3{width: 270px;}
    /* .links{display: flex;
        flex-direction: column;} */
    .footer-col{height: 22vh;}
    #tt{margin-left: 0%;}
    #cm{width: 200px;}

}

@media screen and (max-width: 390px){
    #bgimg3{width: 230px;}
    #cm{width: 200px;}

}

@media screen and (max-width: 385px){
    #bgimg3{width: 230px;}

}

@media screen and (max-width: 380px){
    #bgimg3{width: 230px;}
    #gallery{height: 80vh;}
    /* #insta{display: block;}
    #fb{display: block;}
    #email{display: block;}
    #twitter{display: block;} */
    .links{display: flex;
    flex-direction: column;}
    #pic3{width: 190px;}
    #w4{width: 190px;}
    #bleach{width: 190px;}
}

@media screen and (max-width: 350px){
    #bgimg3{width: 200px;}
    #pic3{width: 180px;}
    #w4{width: 180px;}
    #bleach{width: 178px;}
    .about-text{width: 200px;}
    .footer{width: 429px;}
}

@media screen and (max-width: 300px){
    #bgimg3{width: 180px;}
    #pic3{width: 160px;}
    #w4{width: 160px;}
    #bleach{width: 158px;}
    .footer-col{
        height: 25vh;
    }
}

