body{
    text-align: center;
    padding: 30px;
    background-color: rgb(165, 124, 177);
    font-family: serif;

}

h1{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}

.heading{
    font: size 50px;
    color: #f4f6f7;
    font-family:cursive;
}

.you{
    font-size: 30px;
    color:rgb(7, 7, 7);
    text-align: left;
}

.ME{
    float: right;
}
.about{
    font-size: 30px;
    color:rgb(250, 249, 249);
    text-align: left;
}
.fine{
    font-size: 30px;
    color:#080808;
    text-align: left;   
}
.interest{
    font-size:30px;
    color:#f4f6f7;
    width: 100%;
    text-align: left;
}
.me3{
    float: left;
    padding-left: 30px;
    padding-right: 30;

}
.dance{
    font-size: 30px;
    color: #030303;
    text-align: left;  
}
.gallery{
    font-size: 30px;
    color: #f4f6f7;
    width: 100%;
    text-align: left;
}
a{
    font-size: 25px;
    padding: 0px 50px;
}
.tag{
    font-size: 20px;
    color: black;
    background-color: #f4f6f7;
}