body{
    background-image: url(w2.jpg);
    background-attachment:fixed;
    background-size: cover;
}

h1{
    color: #000000;
    text-align: center;
}


.about{
    width: 80%;
    padding: 60px 0px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(19deg, #52dcdef8 45%, #e34444ec 170%);
    filter: opacity(90%);
    border-radius: 3%;
}

.gallery{
    display: flex;
    width: 80%;
    padding: 50px 0px;
    margin-left: 2.5%;
    background-image: linear-gradient(19deg, #52dcdef8 45%, #e34444ec 170%);
    margin: auto;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
    height: 30vh;
    filter: opacity(90%);
    border-radius: 3%;

}

.bg{
    background: rgba(225, 225, 225, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.photos{
    margin-top: -1%;
}
.pic3:hover{
    transform: scale(1.3);
    z-index: 2;
}

.w4:hover{
    transform: scale(1.3);
    z-index: 2;
}
.bleach:hover{
    transform: scale(1.3);
    z-index: 2;
}

.photos h1{
    color: rgba(250, 246, 246, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    
}

.photos img{
    width: 290px;
    display: flexbox;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 0%;
    
}

.about img{
    margin-top: 1px;
    height: auto;
    width: 340px;
    fill-opacity: 50%;
    border-radius: 0%;

}

.about-text{
    width: 600px;

}

.about-text h1{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;

}

.gallery h1{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 5%;
}

.about-text p{
    color: rgb(5, 46, 11);
    letter-spacing: 1px;
    line-height: 28px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin-top: -4%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Hobbies{
    width: 1130px;
    max-width: 95%;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Fire{
    margin-top: 25px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.contact h1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(17, 105, 29);
    letter-spacing: 1px;
    line-height: 28px;
    margin-top: 5%;
}

@media screen and (max-width: 1024px) {
    .contact{
        flex-direction: column;
    }
    .photos img{
        /* display: flex;
        flex-direction: row; */
        margin: 0%;
    }
    .gallery{
        width: 100%;
        flex-direction: column;
    }
    
    #pic3{width: 280px;}
    #w4{width: 280px;}
    #bleach{width: 250px;}
    #about-text1{padding-left: 10px; }
    #about-text2{padding-right: 10px;}

}

@media screen and (max-width: 800px) {
    .gallery{
        width: 100%;
        flex-direction: column;
    }
    .about-text p{
        font-size: 10px;
    }
}
@media screen and (max-width: 750px){
 .about{
    display: block;
}
}
