body{
    border-top:100px solid plum;
    border-right:100px solid plum;
    border-left:100px solid plum;
    border-bottom:0px solid plum;
    text-align:center;

    background-color:blanchedalmond;
}
 h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    text-align:center;
 }
.me2{
    float:center;
    height: 280px;
    width: 300px;
}
.p1{
    padding: 30px 10px;
    font-size: 20px;
    text-align:center;
}
.p2{
    padding:30px 10px;
    font-size:20px;
    text-align:center;
}
.interest{
    float:center;
}
a{
    font-size: 20px;
    padding:0px 50px;
}
.tag{
    font-size: 20px;
    color: rgb(60, 45, 103);
    background-color:plum;
    height:100px;
    width:100%;
}