*{
    margin: 0px;
    padding: 0px;
   
    font-family: sans-serif;
}
body{
    background-image: url("bck.jpg");
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
.heading{
    display: inline-block;
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(248, 11, 224);
    margin-bottom: 10px;
}

.heading p{
    font-size: 20px;
    font-weight: 200;
    color: rgb(233, 237, 237);
}


.message{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    background-image: linear-gradient(19deg,rgba(70, 254, 53, 0.356) 0%,rgba(188, 55, 250, 0.334) 100%);
     width: 70%;
}
.message h2{
    margin: 15px;
    color: rgb(234, 245, 244)
 ;
    font-size: 30px;
    background-size:cover;
}
.message p{
    color: white;
    font-size: 18px;
    width: 80%;
    margin: 15px;
    margin-left: 4vw;
}
.message img{
    width: 70%;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}
.links a img{
   width: 30%;
}

footer{
    width: 70%;
    margin: 4%;
    padding: 2%;
    background-color: rgba(144, 207, 244, 0.671);
    text-align: center;
}