*{
    margin: 0px;
    padding: 0px;
    background-image: url("bck.jpg");
    font-family: sans-serif;
}
header{
    text-align: center;
    margin-bottom: 20px;
}
.heading{
    display: inline-block;
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(255, 50, 94);
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    font-weight: 200;
    color: #18a818;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
}
.content .cover{
    flex: 0 50%;
    max-width: 40%;
    height: auto;
    border: 4px;
    border-radius: 20px;
}

.message{
    padding: 35px;
}
.message h2{
    margin: 15px;
    color: rgb(123, 59, 70)
 ;
    font-size: 24px;
}
.message p{
    color: #9f10d8;
    font-size: 18px;
    line-height: 1.5em;
    margin: 15px;
}
.links{
    margin: 15px 15px 0px 9px;
    text-align: left;
}
.links ul{
    white-space: nowrap;
    max-width: 400px;
}
.links li{
    display: inline-block;
    margin: 8px;
    width: 10%;
}
.links img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    border: 0;
    border-radius: 20px;
}
.links li img:hover{
    background-color: #ccc;
}


.read_more{
    margin: 0px 15px;
    display: inline-block;
    color: #fff;
    background-color: rgb(50, 180, 255);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.08s ease-in;
}
.read_more:hover{
    background-color: rgb(0, 144, 227);
    box-shadow: #444;
}
footer{
    max-width: 100%;
    margin: 60px 0px 0px 0px;
    padding: 20px;
    background-color: rgb(50, 180, 255);
    text-align: center;
}