body::after{
    background-image: url("retro-anime.jpg");
    content: " ";
    position: fixed;
    opacity: 0.95;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#logo img{
    height:60px;
    margin:2px 3px;
    position: fixed;
}
.navbar{
    display: flex;
}
.midbar{
    display: flex; 
    margin-left: 50px;  
}
.midbar li{
    list-style: none;
}
.midbar li a{
    padding: 3px 40px;
    border-radius: 23px;
    text-decoration: none;
    color:black;
  font-family: 'Open Sans Condensed', sans-serif;
  opacity: 0.7;
  font-size: 16px;
  letter-spacing: 0.1cm;
}
.midbar li a:hover,.midbar li a.active{
    color:white;
    opacity: 1.1;
}
#search{
    margin-top: 0.5cm;
    margin-left: 610px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    color:blue;
    border-radius: 20px;
  
}

h5{
    color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   border: 1px solid violet;
   display: flex;
    width:300px;
    font-size: 1.4cm;
    height: 470px;
    letter-spacing: 0.3cm;
    line-height: 2.1cm;
   background-color:black;
    padding: 65px 33px;
    margin-left: 25cm;
    margin-bottom:-50px;
    margin-top: -407%;
    
    
}
h5:hover{
    background-color: pink;
}
#quote input{
    display: flex;
    font-family:  'Josefin Sans', sans-serif;
    margin-left: 29cm;
    padding: 9px 21px;
    background-color: greenyellow;
    color: black;

}
#quote input:hover{
    color: black;
}
#about{
    display: flex;
    margin-top: 4cm;
    width: 70%;
    background-color: darkgrey;
    opacity: 0.8;
    

    
}
#about img{
   
   padding: 5px 5px;
   margin:39px;
   height: 50px;
   width:141px;
}
#about p{
   
    color: palevioletred;
    font-size: 22px;
    font-family:  'Josefin Sans', sans-serif;
    margin-right: 20px;
    margin-top: 39px;
    background-color: black;
    height: 159px;

}
#interests{
   
    display: flex;
    margin-top: 3cm;
    margin-left: 29%;
    width: 71%;
    background-color: darkgrey;
    opacity: 0.8;
    flex-direction: row-reverse;
}
#interests img{
   
    padding: 5px 5px;
    margin:39px;
    height: 52px;
    width:194px;
   
 }
 #interests p{
    
    color: palevioletred;
    font-size: 22px;
    font-family:  'Josefin Sans', sans-serif;
    margin-right: 20px;
    margin-top: 39px;
    background-color: black;
    height: 159px;
    padding: 0 0 0 40px;

}
#skill{
    
    display: flex;
    margin-top: 3cm;
    width: 71%;
    background-color: darkgrey;
    opacity: 0.8;
  
}
#skill img{
    
    padding: 5px 5px;
    margin:39px;
    height: 50px;
    width:194px;
   
 }
 #skill p{
   
    color: palevioletred;
    font-size: 22px;
    font-family:  'Josefin Sans', sans-serif;
    margin-right: 20px;
    margin-top: 39px;
    background-color: black;
    height: 159px;
    padding: 0 0 0 40px;
 }
 #hobby{
   
    display: flex;
    margin-top: 3cm;
    margin-left:47% ;
    width: 55%;
    background-color: darkgrey;
    opacity: 0.8;
    flex-direction: row-reverse;
  
}
#hobby img{
   
    padding: 5px 5px;
    margin:39px;
    height: 52px;
    width:145px;
   
 }
 #hobby ul{
     margin-top:50px;
     color:rgb(102, 5, 37);
     font-size: 22px;

 }
 #quote{
     margin-top:200px;
     width:6%;

    
 }
 
 #quote ul li{
     list-style: none;
 }
 #quote ul li a img{
     width:30px;
     height: 30px;
     padding: 14px 6px;
     }
         
     
#about img:hover{
    animation-name: siba;
    animation-iteration-count: 1;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes siba {
    from{
        height: 50px;

    }
    to{
        height:110px;
    }
    
}
#interests img:hover{
    animation-name: siba1;
    animation-iteration-count: 1;
    animation-duration:2s;
    animation-fill-mode: forwards;
}
@keyframes siba1 {
    from{
        height: 52px;

    }
    to{
        height:125px;
    }
}
#skill img:hover{
        animation-name: siba2;
        animation-iteration-count: 1;
        animation-duration:2s;
        animation-fill-mode: forwards;
    }
    @keyframes siba2 {
        from{
            height: 50px;
    
        }
        to{
            height:110px;
        }
    }
 #hobby img:hover{
            animation-name: siba3;
            animation-iteration-count: 1;
            animation-duration:2s;
            animation-fill-mode: forwards;
        }
        @keyframes siba3{
            from{
                height: 52px;
        
            }
            to{
                height:125px;
            }
        }