@import url('http://fonts.googleapis.com/css2?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(54, 52, 52, 0.50),rgba(41, 38, 38, 0.50)),url('vssut.jpeg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.header-content h2:hover{
    font-size: 4vmin;
    color: yellow;
    transition: 1s;
}
a{
    text-decoration: none;
}

.events h1:hover{
color: blueviolet;
transition: 1s;
}
.line{
    width: 150px;
    height: 4px;
    background: rgb(170, 1, 1);
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.header-content h1:hover{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    color: yellow;
    transition: 1s;

}
.ctn{
    padding: 8px 15px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #fff;
    color: whitesmoke;
}
.ctn:hover{
    border: 1px solid whitesmoke;
    background: yellowgreen;
    transition: 0.65s;

}
.about h1:hover{
    color: blueviolet;
transition: 1s;
}
.div4 a {
    padding: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*
About Me
*/

section{
    width: 80%;
    margin: 80px auto;
    text-align: center;
    font-size: 4vmin;
    color: tomato;
}

.profile{
    height: 400px;
}
.row
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row .col img:hover{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.3);
    z-index: 2;
}
.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: blueviolet;
    margin: 20px auto;
}
p{
    color: rgb(65, 20, 123);
    padding: 0px 40px;
}
body, html{
    overflow-x: hidden;
    background-color: wheat;
}
div.div4{
    background-color: wheat;
    padding-top: 2px;
}
.lst{
    text-align: center;
}