
h1{
    text-align: center;
    padding:2px 2px;
    color:black;
    font-size: 50px;
}
h2{
    margin:60px;
    font-size:35px;
}
body{
    
    background-image: url(beauty_of_nature_9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.div0{
    padding: 100px;
}
.div00{
    color:whitesmoke;
    padding: 5px;
    opacity: 190%;
    background:rgba(255,255,255,.2);
    margin: 50px;
    width:100%;
    
    
}

p {
  margin: 60px;
  font-size: 30px;
  width:60%;
  
}
h3{
    margin:60px;
    font-size:35px;
}
h4{
    margin:60px;
    font-size:35px;
}
h5{
    margin:60px;
    font-size:35px;
    text-align: center;
}
.div1{
    
    display: flex;
    flex-wrap: nowrap;
}
.div1 img{
    padding:20px 20px;
    max-width:110%;
    width:80%;
    padding-left: 40px;
    aspect-ratio: 2/1;
}
.div2{
    display:flex;
    flex-wrap:nowrap;
    
}
.div2 img{
    padding:10px 10px;
    max-width:100%;
    width:80%;
    padding-left: 40px;
}
.div3 img{
    padding:85px 85px ;
    max-width:100%;
    width:20%;
    margin-left: 5%;
    margin-right: -5%;
    
}
.div3{
    display: flex;
    flex-wrap: nowrap;
    margin: -50px;
}
.div4 {
    padding:100px 100px;
    font-size: 45px;
    color:rgb(176, 226, 245);
}
.div4 img{
    padding:10px 20px ;
    margin: 0px;
    padding-top: 10px;
    
}

@media screen and (max-width:1250px){
   .div1 {
    padding-right: 10px;
    margin:20px;
   } 
   .div1 p{
    margin:0px;
   }
   .div2 img{
    margin:0px;
    width: 560px;
   }
   .div3 img{
    max-width: 70%;
    padding: 25px;
   }
    
}
@media screen and(max-width=1213px) {
    .div3 img{
        width:30%;
        padding:18px 18px;
        position:relative;
    }    
}

@media screen and(max-width=1060px)  {
    .div2 img{
        max-width:550% ;
        
    }
    .div3 img{
        padding: 20px 20px;
        width:35%;
        margin-left: 20px;
    }

   
} 
@media screen and(max-width=523px){
    .div1 p{
      
        align-content:space-around;
        display: block;
        width:80%;
        margin-right: 10px ;
    }
}



