body{
    background-color: antiquewhite;
    border: 10px black;
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    width: 800px;} 

    #header{
        padding-left: 20%;
    }

    #me{
        float: right;
        padding-left: 10px;
        padding-right: 50px;
    }

    #div1{
        align-content: center;
        font-size: 17px;
    }

    #div2 img{
        padding: 10px;
    }
    

    #div2 {
        align-content:center;
        font-size: 17px;
    }

    #gallery img{
        padding-right: 10px;     
    }

  #div3 a{

    font-size: 23px;
    padding: 50px ;
  } 
  
  #div4 {
    padding-left: 30%;
  }