body{

    background-color: #e8aa0e;
    border-top: 0px solid #bc480e;
    border-bottom: 0px solid #bc480e;
    border-right: 140px solid #bc480e;
    border-left: 140px solid #bc480e;

    text-align: center;
    font-family: "Copperplate", Papyrus, fantasy;
    color:black;


}

hr{
background-color: none;
border-style: dotted none none;
border-color:#662c0b;
border-width:6px;
margin: 50px auto;
}

h1{
font-family: "Copperplate", Papyrus, fantasy;
font-size: 50px;
padding-bottom:0px;
color:black;
}

h1{
color:black;
box-shadow: 15px 10px;
}

.header{
font-size:40px;
position:relative;
padding-top:40px  ;
line-height: 2;
height:140px;
width:100%;
background-color: #bc480e ;
font-family: "Copperplate", Papyrus, fantasy;
}

.profile{

float: left;
margin-right: 30px;
width:25%;
padding-top:20px;
transition: transform .5s ease;
object-fit: cover;
border-radius: 40px;
}

img:hover{
transform:scale(1.1);
}

p{
padding-top:0px;
line-height:2;
font-size: 20px;
text-align:left;
font-family: "Copperplate", Papyrus, fantasy;

}

.about{
text-align:left;
}
.body{
    margin:100px auto 100px auto;
    width:85%;
}

.myinterest-img{
float:left;
transition: transform .2s ease;
width:35%;
height:250px;
width:370px;
margin-right: 30px;
object-fit: cover;
border-radius: 40px;
}


a{
color:#11999E;
font-weight: bolder;
font-family: "Copperplate", Papyrus, fantasy;
margin:10px 50px;
text-decoration: underline;
padding-top: 20px;

}
a:hover{
color:#140c3f;
}

.tag{
text-align:center;
font-size: 1.23rem;
padding-top:80px;
color:black;

height:100px;
width:100%;
background-color: #bc480e ;
}

.facebook{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    transition: transform .2s ease;
}
.insta{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    transition: transform .2s ease;
}
.twitter{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    transition: transform .2s ease;
}