
.gallery {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0;
padding: 0;
list-style: none;
}

.gallery img {
width: 300px;
height: 200px;
object-fit: cover;
margin: 10px;
border: 1px solid #ddd;
box-shadow: 0 0 10px #ddd;
}





