body {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    /* background-color: rgb(209, 154, 154); */
    background-image: url(6016025.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

h1 {
    color: black;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    /* background-color: bisque; */
    padding: 30px;
    /* border-style: solid; */
    /* border-color: orange; */

    color: black;

}

span {
    display: flex;
    flex-wrap: nowrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;

}

.frst {
    text-align: center;
}

p {
    width: 1000px;
    padding-right: 100px;
}

.my {
    text-align: center;
}

.w {
    width: 1000px;
    padding-left: 20px;

}

a {
    text-align: center;

}

.div4 a {
    padding: 100px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.im img {
    padding: 60px 60px;


}

.lst {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 200px;
    color: aliceblue;

}

a[href] {
    color: black;
}

.abut {
    padding-left: 10px;
}

.bg {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 2%;
    padding-right: 40px;

}

.rund {
    border-radius: 5%;
}

.p1:hover {
    transform: scale(1.3);
    z-index: 2;
}

.p1{
    border-radius: 5%;

}

.p2{
    border-radius: 5%;

}

.p3{
    border-radius: 5%;

}

.p2:hover {
    transform: scale(1.3);
    z-index: 2;


}

.p3:hover {
    transform: scale(1.3);
    z-index: 2;


}
@media screen and (max-width:768px){
    body{
        background-size: cover;
    }
    .im  {
        display: flex;
        flex-wrap: nowrap;
        padding: 0px 0px;
    }
    .p1{
        height: 125px;
        width: 150px;
        
    }
    .p2{
        height: 125px;
        width: 125px;
    }
    .p3{
        height: 125px;
        width: 125px;
        padding-right: 80px;
    }
    span{
        font-size: 20px;
    }
    .div4{
        padding: 0px;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;   
        
    }
    .inst{
        height: 50px;
        width: 50px;
    }
    .twet{
        height: 65px;
        width: 65px;  
    }
    .ml{
        height: 50px;
        width: 50px;
    }
    .fb{
        height: 50px;
        width: 50px;
    }
    .lst{
        padding-left: 0px;
    }
    
    
}
    
