*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{ 
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
    }
    nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    }

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
    }

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: #ff004f;
}

/* --about----*/
#about {
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    }
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    }

.about-col-2{
    flex-basis: 60%;
    }
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.description{
    font-size: 30px;
    font-weight: 300;
    color: #fff
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: #080808;
    }
#portfolio h1{
    margin: 60px;
}
.gallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
.gallery img{
    width: 500px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    }
.gallery img:hover{
    background-color: #ff004f;
    cursor: pointer;
}

/* Contact */
.contact {
    background-color: #000;
    color: #fff;
    padding: 50px;
  }
  
  .contact h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin-right: 20px;
    color: #fff;
    font-size: 36px;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }

.copyright{
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}