body{
    background-image: url("bg.jpg");
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(24, 21, 21);
    text-align: center;
}
.about{
    width: 80%;
    padding: 75px 0px;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    filter: opacity(100%);
    border-radius: 10%;
}
#container{display:flex;
    align-items: center;
}
#container img{margin-right: 60px;
}

@media screen and (max-width: 600px) {
    {width: 80%;
        display: block;
        margin: auto;}
    #container{
        padding-top: 50px;
        float: none;
        width: 100%;
        display: block;
        margin: auto;}
    #container img{float: none;
        width: 100%;
        display: block;
        margin: auto;}

}
.connect{
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 15px;   
}
.links a{
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    margin: auto;
    text-decoration: none;
    font-size: larger;
    text-decoration-style: solid;
}
.links a:hover{
    background-color: rgb(177, 177, 185);
}
.links a i{
    margin: 5px;
    padding: auto;
}
.linkdn{
    color: #0e76a8;
}
.insta{
    color: #dd2a7b;
}
.copyright{
    text-decoration: none;
    color: black;
}




