body
{ 
   background-image:url("https://edge.99images.com/photos/wallpapers/3d-abstract/pastel-aesthetic-anime%20android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-zvid0.jpg") ;

}
img {
width: 150px;
border-radius: 10px;
float: right;
margin-right: 10px;
}