body{ 
    background-color:yellow (60, 100%, 50%) (to bottom, #bdc3c7, #2c3e50); /* Gradient background */
    font-family: Arial, sans-serif;
    font: size 100px;
    margin: 0;
    padding: 0; 
}
nav{
    background-color: #ddc2c2;
    box-shadow: 0 2px 5px rgba(0,0,0,.3); /* Box shadow for header */
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
    color: #2c3e50;
}
#about{
    
    margin-bottom: 30px;
    
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    /*justify-content: center;
    align-items: center;*/ 
    flex-direction: column;
    

}
/* .box {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.3); 
    padding: 20px;
    margin: 20px;
    text-align: center;
    flex-basis: calc(25% - 40px); 
} */
.box p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box img {
    width: 250px;
    height: 400px;
    margin-bottom: 10px;
    margin-top: 50px;
    float: right;
    background-color: rgb(214, 51, 51);
}
.box0 img {
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 50px;
    float: left;
    background-color: rgb(214, 51, 51);
}
.box0 .para1{
    float: right;
}
.para_about p {
    margin-top: 40px;
    font-size: 18px;
    color: #2c3e50;
}
.para_about1 p{
    margin-left: -150px;
}
.box0 .para1 h1{
    margin-top: 45px;
}
.box1 img{
    width: 350px;
    height: 350px;
    float: right;
    margin-top: 45px;
}
.box1 .para2 h1{
    margin-top: 40px;
}