body{
    display: flex;
    flex-direction: column;
   align-items: center; 
   font-family: Arial, sans-serif;
   background-color: oldlace;
    }

 .about{
    width: 80%;
    padding: 78px 0px;
    margin-right: 10%;
    justify-content: center;
 }   
 .about img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 500px;
    border-radius: 50px;
 }
 .gallery{
    display: flex;
    width: 1150px;
    margin-left: -10%;
    align-items: center;
    justify-content: center;
 }
 .img1{
    width: 300px;
    margin: 40px;
 }
 .img3{
    width: 300px;
    height: 400px;
    margin: 40px;
    object-fit: cover;
 }
 .img4{
    width: 300px;
    height: 400px;
    margin: 40px;
    object-fit: cover;
 }
 