body
{ 
   background-image:url("https://e1.pxfuel.com/desktop-wallpaper/359/191/desktop-wallpaper-anime-computer-aesthetic-90s-anime-pc.jpg") ;

}
img {
width: 150px;
border-radius: 10px;
float: right;
margin-right: 10px;
}