body{
    display:flex;
    flex-direction: column;
    align-items:center;
    background: 'poppins',sans-serif;
    margin: 10px;
    border : 20px solid rgb(135, 161, 137);
    padding:10px;
    background-color: burlywood;
}
h2{
    color:rgb(77, 36, 7);
    font-size:40px ;
    align-items: center;
}
h1{
    color: darkolivegreen;
    font-size: 50px;
}
img{
    width: 200px;
    height: 200px;
    
}

.container img{
  
    width:200px;
    height:200px;
    direction:row;
}
a{
    margin-right: 60px;
}
.box{
    display: flex;
    flex-direction:row;
}
.text{
    padding: 20px;
    font-size:20px;
    color: crimson;
}
.centerbox{
padding:5px 5px ;
}
.link{
    display: flex;
    margin-top: 10px;
    font-size: 10px;
}
#contact{
    margin:5px 15px ;
    text-align: center;
    padding:15px;
}
.box1{
    display: flex;
    flex-direction:row;
}
@media (max-width:708px){
    .container img{
  
        width:95px;
        height:95px;
        direction:row;
    }
}
@media (width <=470px){
    body{margin: 5px;
        padding: 5px;
        border : 15px solid rgb(135, 161, 137);
        }
        #mypic{
            width: 150px;
            height: 150px;
            margin: 0px;
        }
        #text1{
            font-size:10px;
        }
    h2{
        font-size:10px ;
        align-items: center;
}
h1{
    font-size: 30px;
}
img{
    width: 150px;
    height: 100px;
    
}
.container img{
  
    width:180px;
    height:180px;
    direction:column;
    display:grid;
    place-items:center;
}
a{
    margin-right: 20px;
}
.box{
    display: flex;
    flex-direction:column;
}
.box1{
    display: flex;
    flex-direction:column;
}


.text{
    padding: 10px;
    font-size:10px;
    
}
.centerbox{
    padding:2px 2px ;
    }
    .link{
        
        margin-top: 5px;
        font-size: 5px;
        align-items: center;
    }
    #contact{
        margin:4px 4px ;
      
        padding:5px;
    }
}

    @media (width <=299px){
        body{margin: 2px;
            padding: 2px;
            border : 10px solid rgb(135, 161, 137);
            }
        h2{
            font-size:8x ;
            align-items: center;
    }
    
    h1{
        font-size: 20px;
    }
    img{
        width: 200px;
        height: 150px;
        
    }
    .container img{
      
        width:150px;
        height:100px;
        direction:column;
        
    }
    a{
        margin-right: 5px;
    }
    .box{
        display: flex;
        flex-direction:column;
    }
    .box1{
        display: flex;
        flex-direction:column;  
    }
    .text{
        padding: 5px;
        font-size:10px;
       
    }
    .centerbox{
        padding:2px 2px ;
        }
        .link{
            
            margin-top: 4px;
            font-size: 4px;
        }
        #contact{
            margin:4px 4px ;
          
            padding:5px;
        }
        @media (width<=240px){
            body{
                border : 5px solid rgb(135, 161, 137);
                }
                .text{
                    padding: 4px;
                    font-size:8px;
        }
    }
    @media(width<=298px){
        img{
            align-items: center;
            width: 300px;
            height: 200px;
            
        }
    }
    @media(width<=186px){
        .box{
            display: flex;
            flex-direction:column;
        }
        .box1{
            display: flex;
            flex-direction:column;
        }
    }
    }


