body{
    padding:100px;
    background-image: url(wp.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
span{
    position: relative;
    
    font-size: 30px;
    
    color:#f1f1f1;
}
    
    h1{
        /* background: linear-gradient(45deg,blue,green); */
        overflow: hidden;
        color: #f1f1f1;
        text-align: center;
        padding: 1px,1px;
        font-size: 50px;


}
h2{
    color:white;
    text-decoration-line: underline;
    padding:5px,5px;
    margin:30px;
    font-size:35px;
    

}
.div0{
    padding: 30px;
    /* background-color:black; */

}

.p1:hover{
    transform: scale(1.3);
    z-index: 2;
}
.p2:hover{
    transform: scale(1.3);
    z-index: 2;
}
.p3:hover{
    transform: scale(1.3);
    z-index: 2;
}


h3{
    color:rgb(255, 255, 255);
    text-decoration-line: underline;
    margin:60px;
    font-size:35px;
    text-align: center;
}
h4{
    color:rgb(255, 255, 255);
    text-decoration-line: underline;
    margin:60px;
    font-size:35px;
    text-align: center;
}
h5{
    color:rgb(255, 255, 255);
    margin:60px;
    font-size:35px;
    text-align: center;
}
.div1{
    display: flex;
    flex-wrap: nowrap;
}
.div2{
    display:flex;
    flex-wrap:nowrap;
}
.div3 img{
    height:300px;
    width:300px;
    padding: 20px 20px;
    border-radius: 20%;
    
}
.div4 a{
    padding:100px 100px;
    
}
.class1, .class2{
    display:inline;
}
body .greet {
    position: relative;
    bottom: 100px;
    margin: 0px;

}
body.div5 a{
    padding: 175px;
}
body .div5{
    color:rgb(255, 255, 255);
    position: relative;
    padding: 350px;
    bottom:350px ;
    font-size: 25px;

}

.bg{
    background: rgb(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 2%;
}
@media screen and (max-width:768px) {
    span {
    position: relative;
    font-size: 17px;
    }
    .img5 {
        height:200px;
        width:200px;
    }
    img4{
        height:150px;
        width:150px;
    }
    body .greet {
        text-align: centre;
        font-size: 30px;
    }
    .div3 img {
        height: 145px;
        width:145px;
        padding:3px 3px;
    }
    .div5 {
        padding:20px 20px;
    }
    .div4 img{
        image-orientation: calc() ;
         padding: 10px; 

    }
    .img3 {
        height: 40px;
        width:50px;
    }
    .img2 {
        height:40px;
        width:40px;
    }
    .img1 {
        height:40px;
        width:40px;
    }
    .div4 {
        padding:100px 100px;

    
    }
}

        


#lll{padding: 0%;} 




    

     
    
    
    

        




    
       






 
    



   










    




    

        


    

    
    
     
        



    



