*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 243, 243);
    font-family: sans-serif;
}

.page{
    display: flex;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
    font-weight: 400;
    color: rgb(50, 180, 255);
    margin-bottom: 20px;
}
img{
    max-width: 200px;
    max-height: 200px;
    border: 0;
    border-radius: 20px;
    margin: 15px;
}
p{
    font-size: 20px;
    font-weight: 200;
    color: #444;
}

.interests{
    width: 33.33%;
}
.domain{
    width: 33.33%;
}
.gallery{
    width: 33.33%;
}
.bicycle img{
    margin-bottom: 20px;
}
.web img{
    margin-bottom: 21px;
}
.ai img{
    margin-top: 45px;
    margin-bottom: 25px;
}

.bicycle:hover{
    position: relative;
    top: -4px;
}
.camera:hover{
    position: relative;
    top: -4px;
}
.web:hover{
    position: relative;
    top: -4px;
}
.ai:hover{
    position: relative;
    top: -4px;
}
.gallery img:hover{
    position: relative;
    top: -4px;
}

.home{
    text-align: center;
}
.home button{
    margin: 0px 15px;
    display: inline-block;
    color: #fff;
    background-color: rgb(50, 180, 255);
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.08s ease-in;
}
.home button:hover{
    background-color: rgb(0, 144, 227);
    box-shadow: #444;
}

footer{
    max-width: 100%;
    padding: 20px;
    background-color: rgb(50, 180, 255);
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 820px){
    .page{
        flex-direction: column;
    }
    .interests{
        width: 100%;
        margin-bottom: 30px;
    }
    .domain{
        width: 100%;
        margin-bottom: 30px;
    }
    .gallery{
        width: 100%;
    }
    .domain h1{
        margin-top: 20px;
    }
    .gallery h1{
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px){
    .home button{
        border-radius: 5px;
        padding: 10px 16px;
        font-size: 16px;
    }
    footer{
        margin-top: 50px;
    }
}

@media screen and (max-width: 450px){
    footer{
        padding: 15px;
        font-size: 14px;
    }
}