*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

header{
    background-color: black;
    padding: 13px 0px;
    height:52rem;
    clip-path: polygon(0 0,100% 0, 100% 100%, 85% 90%,0 100%);
    width:auto;
}
.dp{
    
    border-radius: 100%;
    height: 75px;
    width: 75px;
    margin-right: 3rem;
    display: flex;
}



nav a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
  
    
}
nav a:hover{
    color: #f18676;
}


.container{
    width: auto;
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    
} 
.flex{
    display: flex;
}
.centre{
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
header nav{
    padding: 2rem 0;
}
.photo1{
    width: 57rem;
    margin-left: -7rem;
}
h1{
    color: white;
}
span{
    color: #f18676;
}
p{
    color: white;
}
.text{
    margin-right: -6rem;
    padding: 15rem 1rem;
    position: relative;
}
section{
    padding: 3rem 0;
}

section h1{
    color: black;
}
section p{
    color: black;
    
}

.photo2{
    width: 20rem;
}

.text2{
    width: 40rem;
    
}

.flex1{
    flex:1;
}

section .text2 h1{
    margin-bottom: 1rem;
    font-size: 1.8rem;

}

.gallary{
    
    background-color: black;
    height: 36rem;
    width:auto;
}
.gallarypic{
    width: 20rem;
    margin: 1rem 1rem;
    border: 3px solid#f18676;
    border-radius: 5px;
}
.gl{
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

.contact h1{
    color: black;
    text-align: center;
}

.contactimg{
    text-align: center;
}

.copyr{
    background-color: black;

}
.copyr h1{
    text-align: center;
    font-weight: 10;
}

.gallarypiczzz{
    display: flex;
}

/* media queries for less than 1024px */
@media (max-width :1024px){
    .photo1 {
        width: 260px;
        margin-left: 2rem;
        
        
    }
    h1 {
        font-size: 3rem;
    }
    .gallarypiczzz{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 1rem;
        

    }
    .gallary{
    
        background-color: black;
        height: 91rem;
    }
    #mainnav{
        display: grid;
    }
    .text{
        
        flex-wrap: wrap;
        margin-left: 9rem;
        margin-top: -14rem;
        position: relative;
        width:500px;
    }
    .photo1{
       margin-top: 9rem;
       margin-right: 1rem;
       width: 39rem;
    }

}

@media(width<=24rem){
    .gallary{
        width: max-content;
    }
}