body{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
.container h1{
    text-align: center;
    position: absolute;
    top: -59px;
    right: 420px;
    font-family: 'Ubuntu', sans-serif;
}
.cl1 p{
    width: 344px;
}
.cl1 img{
    position: absolute;
    right: -1030px;
    width: 190px;
    top: 59px;
    border-radius: 98px;
}
.cl2 p{
    width: 344px;
}
.img1{
    position: absolute;
    left: 730px; 
    width: 402px;
}
.img2{
    position: absolute;
    width: 140px;
    right: -1310px;
}
.img3{
    position: absolute;
    width: 247px;
    right: -510px;
}
.img4{
    position: absolute;
    width: 176px;
    left: 36px;
}
.container{
        position: fixed;
        top: 0;
        left: 0;
        border: 40px solid #0290f6;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.mid{
    position: absolute;
    left: 45px;
    top: 20px;
}
.contact{
    position: absolute;
    bottom: -405px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  .copy h5{
    position: absolute;
    bottom: 96px;
    right: 100px;
    width: 176px;
  }
  .cl3{
    position: absolute;
    bottom: -55px;
  }
  .cl3 img{
    border-radius: 10px;
  }
  h2{
    font-family: 'Ubuntu', sans-serif;
  }
  body{
    background-color: rgb(161, 236, 236);
  }